# Paso 1 - conectarse a la API

In [15]:
import json

import pandas as pd
import requests

from requests.adapters import HTTPAdapter
from requests.packages.urllib3.util.retry import Retry
from requests import status_codes

from urllib.parse import quote

In [16]:
#Un parametro de la API es la página con resultados del request que quiero importar
#Mi idea inicial era importar todos los resultados. Para eso hice un bloque de código
#que obtenía primero el número máximo de páginas (el mínimo es siempre 1)
#Y después, con esa info, la idea era generar un bucle que realice el request
#sin embargo, la computadora no me está dejando correr el notebook para el total de datos
#por lo que voy a reemplazar el número total de páginas, por un valor ingresado manualmente que corra sin problemas
#sin embargo, quise dejar incluido el código que había realizado

#Parte 1 - obtener número max de páginas
try:
    url = "https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page=1&sort_by=popularity.desc&year=2022&with_origin_country=US"

    headers = {
            "accept": "application/json",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjN2VlNDhmZTE3N2QyZTZmMDRjNjU4YmFkMGRkYmUwNSIsInN1YiI6IjY0NjE2MzA4ZTNmYTJmMDE0NWVjOTU0OSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.3fz-JoSbeOqP0E-iGxYV62VgU9GsXZXA5OX2ftcZ7V4"
        }
    response = requests.get(url, headers=headers)
    print("Data extracted successfully!")
    
except Exception as e:
    print("Unable to extract the data from the API.")
    print(e)

df = pd.read_json(response.text)

max_pag = df['total_pages'].max()

Data extracted successfully!

### Web seleccionada: https://www.themoviedb.org/

In [17]:
#Parte 2 - Ejecuto el request en el bucle

paginas = range(1,21)

df_full = pd.DataFrame()

try:
    for i in paginas:
        url = "https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page="+str(i)+"&sort_by=popularity.desc&year=2022&with_origin_country=US"

        headers = {
            "accept": "application/json",
            "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJjN2VlNDhmZTE3N2QyZTZmMDRjNjU4YmFkMGRkYmUwNSIsInN1YiI6IjY0NjE2MzA4ZTNmYTJmMDE0NWVjOTU0OSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.3fz-JoSbeOqP0E-iGxYV62VgU9GsXZXA5OX2ftcZ7V4"
        }
        response = requests.get(url, headers=headers)
   
        datos_json = json.loads(response.text)
        
        
        df = pd.json_normalize(datos_json, record_path=['results'])
                  
    
        df_full = pd.concat([df_full, df], axis=0)
    
    print("Data extracted successfully!")
    
except Exception as e:
    print("Unable to extract the data from the API.")
    print(e)
        


df_full.head(2)

Data extracted successfully!

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/suw8eyL3YwE4wfzPQ0cLR02k0Gh.jpg,"[878, 12, 28]",76600,en,Avatar: The Way of Water,Set more than a decade after the events of the...,1299.916,/t6HIqrRAclMCA60NsSmeqe9RmNV.jpg,2022-12-14,Avatar: The Way of Water,False,7.7,8148
1,False,/jr8tSoJGj33XLgFBy6lmZhpGQNu.jpg,"[16, 10751, 14, 12, 35]",315162,en,Puss in Boots: The Last Wish,Puss in Boots discovers that his passion for a...,659.196,/kuf6dutpsT0vSVehic3EZIqkOBt.jpg,2022-12-07,Puss in Boots: The Last Wish,False,8.3,5581

# Paso 2 - Formateo de los datos, etc

In [18]:
#Elimino las columnas que no contienen información relevante
df = df_full.drop(columns = ['adult','genre_ids', 'backdrop_path', 'poster_path', 'video'])
df.head(2)

,id,original_language,original_title,overview,popularity,release_date,title,vote_average,vote_count
0,76600,en,Avatar: The Way of Water,Set more than a decade after the events of the...,1299.916,2022-12-14,Avatar: The Way of Water,7.7,8148
1,315162,en,Puss in Boots: The Last Wish,Puss in Boots discovers that his passion for a...,659.196,2022-12-07,Puss in Boots: The Last Wish,8.3,5581

In [19]:
#reviso tipos de datos y posibles valores nulos
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 400 entries, 0 to 19
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 400 non-null    int64
 1   original_language  400 non-null    object
 2   original_title     400 non-null    object
 3   overview           400 non-null    object
 4   popularity         400 non-null    float64
 5   release_date       400 non-null    object
 6   title              400 non-null    object
 7   vote_average       400 non-null    float64
 8   vote_count         400 non-null    int64
dtypes: float64(2), int64(2), object(5)
memory usage: 31.2+ KB

In [20]:
#Dejo configurada una bloque de código para que elimine posibles nulos en cargas futuras
#(si una fila contiene al menos un campo nulo, la misma se elimina) - dado que la mayoría de los datos 
#no parecen tener nulos, esto no debería ser un problema
df = df.dropna()
df.head()

,id,original_language,original_title,overview,popularity,release_date,title,vote_average,vote_count
0,76600,en,Avatar: The Way of Water,Set more than a decade after the events of the...,1299.916,2022-12-14,Avatar: The Way of Water,7.7,8148
1,315162,en,Puss in Boots: The Last Wish,Puss in Boots discovers that his passion for a...,659.196,2022-12-07,Puss in Boots: The Last Wish,8.3,5581
2,1037644,en,Battle for Saipan,"On July 7, 1944, a U.S. Army hospital on the r...",563.130,2022-11-25,Battle for Saipan,5.8,40
3,505642,en,Black Panther: Wakanda Forever,"Queen Ramonda, Shuri, M’Baku, Okoye and the Do...",429.588,2022-11-09,Black Panther: Wakanda Forever,7.3,4859
4,436270,en,Black Adam,"Nearly 5,000 years after he was bestowed with ...",425.571,2022-10-19,Black Adam,7.1,4931

In [21]:
#reviso por duplicados en 'id'
df['duplicados_id'] = df.duplicated(subset=['id'])
df['duplicados_id'].value_counts()

False    400
Name: duplicados_id, dtype: int64

In [22]:
#reviso por duplicados en 'original_title'
df['duplicados_title'] = df.duplicated(subset=['id'])
df['duplicados_title'].value_counts()

False    400
Name: duplicados_title, dtype: int64

In [23]:
#elimino las columnas generadas para la revisión
df = df.drop(columns = ['duplicados_id','duplicados_title'])
df.head(2)

,id,original_language,original_title,overview,popularity,release_date,title,vote_average,vote_count
0,76600,en,Avatar: The Way of Water,Set more than a decade after the events of the...,1299.916,2022-12-14,Avatar: The Way of Water,7.7,8148
1,315162,en,Puss in Boots: The Last Wish,Puss in Boots discovers that his passion for a...,659.196,2022-12-07,Puss in Boots: The Last Wish,8.3,5581

In [24]:
#Si bien no hay duplicados para estos datos, voy a dejar configurado el código para que elimine IDs duplicados
#para cargas futuras
df = df.drop_duplicates(subset=['id'], keep='first')
df.head(2)

,id,original_language,original_title,overview,popularity,release_date,title,vote_average,vote_count
0,76600,en,Avatar: The Way of Water,Set more than a decade after the events of the...,1299.916,2022-12-14,Avatar: The Way of Water,7.7,8148
1,315162,en,Puss in Boots: The Last Wish,Puss in Boots discovers that his passion for a...,659.196,2022-12-07,Puss in Boots: The Last Wish,8.3,5581

# Paso 3 - Conexion a Base de datos

In [25]:
#!pip install psycopg2

In [26]:
import psycopg2

url="data-engineer-cluster.cyhh5bfevlmn.us-east-1.redshift.amazonaws"
data_base="data-engineer-database"
user="ceci_podesta_coderhouse"
with open(r"C:\Users\Cecilia\Documents\Data Eng Coder\credenciales\pwd_coder.txt",'r') as f:
    pwd= f.read()

try:
    conn = psycopg2.connect(
        host='data-engineer-cluster.cyhh5bfevlmn.us-east-1.redshift.amazonaws.com',
        dbname=data_base,
        user=user,
        password=pwd,
        port='5439'
    )
    print("Connected to Redshift successfully!")
    
except Exception as e:
    print("Unable to connect to Redshift.")
    print(e)

Connected to Redshift successfully!

# Paso 4: Funcion auxiliar para carga en el DW

In [13]:
from psycopg2.extras import execute_values

def cargar_en_redshift(conn, table_name, dataframe):
    dtypes= dataframe.dtypes
    cols= list(dtypes.index )
    tipos= list(dtypes.values)
    type_map = {'int64': 'INT','int32': 'INT','float64': 'FLOAT','object': 'VARCHAR(1000)','bool':'BOOLEAN'}
    sql_dtypes = [type_map[str(dtype)] for dtype in tipos]
    # Definir formato SQL VARIABLE TIPO_DATO
    column_defs = [f"{name} {data_type}" for name, data_type in zip(cols, sql_dtypes)]
    # Combine column definitions into the CREATE TABLE statement
    table_schema = f"""
        CREATE TABLE IF NOT EXISTS {table_name} (
            {', '.join(column_defs)}
        )
        diststyle KEY
        distkey(id)
        sortkey(vote_average, release_date);
        """
    # Crear la tabla
    cur = conn.cursor()
    cur.execute(table_schema)
    # Generar los valores a insertar
    values = [tuple(x) for x in dataframe.to_numpy()]
    # Definir el INSERT
    insert_sql = f"INSERT INTO {table_name} ({', '.join(cols)}) VALUES %s"
    # Execute the transaction to insert the data
    cur.execute("BEGIN")
    execute_values(cur, insert_sql, values)
    cur.execute("COMMIT")
    print('Proceso terminado')

In [14]:
cargar_en_redshift(conn=conn, table_name='peliculas_2022_tp2', dataframe=df)

Proceso terminado